.section__content--sheriff{
    width: 275px;
    height: 275px;
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 18px;
  justify-content: center;
  border:3px solid #143e6e;
  border-radius: 20%;
  padding: 0;
} 

.section__content--drunk{
  width: 275px;
  height: 255px;
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 18px;
justify-content: center;
border:3px solid #143e6e;
border-radius: 20%;
padding: 0;
} 
